<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>08492C86E641FB4F2F3187EAA780BCD6E94036BB</string>
				<key>dateExpires</key>
				<string>02/02/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XBCWPZD3DU.org.reactjs.native.example.ICS.ntf</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XBCWPZD3DU</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ICS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c557d6d2-d60c-49ea-9d49-30a587471bf4</string>
				<key>name</key>
				<string>Ics_App_development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XBCWPZD3DU</string>
				<key>name</key>
				<string>Intelligent Canal Systems Pty Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
