<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527907860651-ua509hi4fh3su3c3k6ujm2ds4q1c1to0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527907860651-ua509hi4fh3su3c3k6ujm2ds4q1c1to0</string>
	<key>API_KEY</key>
	<string>AIzaSyClx5Dte46DNHVPAa8y-DWI1h_fcuhWOWA</string>
	<key>GCM_SENDER_ID</key>
	<string>527907860651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.example.ics.ntf</string>
	<key>PROJECT_ID</key>
	<string>ics-main-firebase-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>ics-main-firebase-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527907860651:ios:4df9c426c4cffa385f87ee</string>
</dict>
</plist>